[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "listcompr"]
	path = listcompr
	url = https://github.com/patrickroocks/listcompr
	shallow = true
	registered = true
[submodule "rPref"]
	path = rPref
	url = https://github.com/patrickroocks/rpref
	shallow = true
	registered = true
